.landing-section {
    background: linear-gradient(90deg, #000000, #787786, #2b2b2c); 
    min-height: 100vh;
    text-align: center;
    padding: 3rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}


.landing-section h1,
.landing-section h2 {
    font-size: 3.2rem;
    font-weight: 700;
    background: linear-gradient(to right, #dadada, #e2cfcf); 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 0 0 10px rgba(255, 215, 0, 0.2); /* soft gold glow */
    margin-bottom: 1rem;
}



.landing-section p {
    font-size: 1.4rem;
    color: #dcdcdc;
    max-width: 600px;
    margin: 0 auto 2rem;
    margin-top: 30px;
}


.btn-primary {
    background-color: #00c8ff;
    border: none;
    padding: 0.75rem 2rem;
    font-size: 1.1rem;
    font-weight: 600;
    color: #0d0d0d;
    transition: all 0.3s ease;
    box-shadow: 0 0 12px #00c8ff;
    border-radius: 50px;
}

.btn-primary:hover {
    background-color: #00ffe0;
    color: #000;
    transform: scale(1.05);
    box-shadow: 0 0 20px #00ffe0;
}
