.custom-navbar {
    background: linear-gradient(90deg, #000000, #787786, #2b2b2c); 
    backdrop-filter: blur(10px);
    padding: 1rem 2rem;
    position: sticky;
    top: 0;
    z-index: 1000;
}


.glow-text {
    font-weight: bold;
    font-size: 1.8rem;
    font-family: 'Urbanist', sans-serif;
}


.glow-link {
    color: #dcdcdc;
    font-weight: 500;
    margin-left: 1.5rem;
    position: relative;
    transition: all 0.3s ease;
}


.glow-link::after {
    content: '';
    display: block;
    height: 2px;
    width: 0%;
    background-color: #f8f8f8;
    transition: width 0.3s ease;
    margin-top: 4px;
}

.glow-link:hover::after {
    width: 100%;
}
